:root {
  --mainHeadr: rgba(
    252,
    248,
    249,
    0.96
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --mainGrey: #c5c6b6;
  --mainPurple: #512c62;
  --mainGreen: #058b08;
  --mainKoamaru: #2f375b;
  --mainCerulean: #98c4d1;
  --mainLight: #fffdf9;
  --mainPink: #de4b43;
  --mainDark: #3c3530;
  --mainGrey: linear-gradient(
    90deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(184, 184, 184, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
  --mainRef: #ffdbc5;
  --mainRefH: #ffbd69;
  --mainRefTs: #d3f4ff;
  --mainTextSec: #ffffff;
  --shoesFb: #8b9dc3;
  --shoesInsta: #feda77;
  --shoesGit: #f0efe7;
  --shoesWhatsapp: #dcf8c6;
}

body {
  background: var(--mainLight);
  display: grid;
  color: var(--mainDark);
  font-family: Advent Pro, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Advent Pro", sans-serif !important;
  font-weight: 900;
  letter-spacing: 0.25rem !important;
}

/* .navbar-container{
} */

.header {
  position: fixed;
  width: 100% !important;
  transform: translateY(0);
  transition: transform 0.5s ease;
  z-index: 99;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-150%);
}

.navbar {
  background: var(--mainHeadr) !important;
}

.hamburger-button {
  color: var(--mainDark) !important;
}

.brandL {
  padding-top: -80px;
  margin-top: -30px;
  margin-left: -5%;
  margin-right: -8.6%;
  margin-bottom: -50px;
  padding-bottom: 30px;
}

.nav-link {
  font-size: 14px;
  color: var(--mainDark) !important;
  letter-spacing: 0.15rem !important;
}

.nav-link:hover {
  color: var(--mainPink) !important;
}

.text-yellow {
  color: var(--mainGreen) !important;
}

.loginbtn {
  color: var(--mainDark) !important;
  font-size: 12px;
  letter-spacing: 0.15rem !important;
}

.loginbtn:hover {
  color: #512c62 !important;
}

.cart {
  float: right;
  cursor: pointer;
  color: var(--mainPink) !important;
  font-size: 2rem;
}

.search {
  font-size: 11px !important;
  color: var(--mainDark) !important;
  text-decoration: none !important;
}

.about {
  font-size: 1.5rem;
  /* font-family: "Courier New", Courier, monospace !important; */
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(251, 91, 90, 0.5), rgb(251, 91, 90));
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  background: white !important;
  color: var(--mainPink);
  border: solid 2px;
  border-radius: 4px;
}

.btn-yellow:hover {
  background: white !important;
  color: var(--mainGreen) !important;
}

.menu,
.cleanings,
.contact {
  width: 100%;
  background: var(--mainTextSec) !important;
}
.footer {
  background: var(--mainGrey) !important;
  font-weight: 500 !important;
}

.FootLefLeg {
  font-size: 12px !important;
  color: var(--mainGreen);
  text-align: left !important;
}

.copyrights {
  color: var(--mainCerulean);
}

.footer-brand {
  color: var(--mainRefTs);
}

.footer-brand:hover {
  cursor: pointer;
  color: var(--mainPink);
}
.footer-link {
  color: var(--mainRefTs) !important;
}
.footer-link:hover {
  color: var(--mainRefH) !important;
}
.footer-link-ts {
  color: var(--mainFrame) !important;
}

.footer a {
  color: var(--mainLight);
}

.footer-soc-meds {
  color: var(--mainGreen) !important;
  font-size: 4vh !important;
}

.footer-Insta-med:hover {
  color: var(--shoesInsta);
  font-size: 5vh;
  font-weight: 700;
}

.footer-Fb-med:hover {
  color: var(--shoesFb);
  font-size: 5vh;
  font-weight: 700;
}

.footer-Git-med:hover {
  color: var(--shoesGit);
  font-size: 5vh;
  font-weight: 700;
}

.footer-Wa-med:hover {
  color: var(--shoesWhatsapp);
  font-size: 5vh;
  font-weight: 700;
}

.FContent {
  margin-left: auto !important;
}

.FLogo {
  margin-top: -2vh !important;
}

.FootCenLeg {
  margin-top: 2vh !important;
}

.FootRighLeg {
  margin-top: 2vh !important;
  color: var(--mainPink) !important;
}

.LscrollDiv {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  height: 100% !important;
  position: relative !important;
}

.LscrollTopdiv {
  position: relative !important;
  bottom: 20px !important;
  left: 40% !important;
  margin-left: -50px !important;
  z-index: 2 !important;
  cursor: pointer !important;
  opacity: 0.4 !important;
  text-align: center !important;
}

.LscrollTopdiv:hover {
  opacity: 0.7 !important;
  animation: wiggle 1s ease !important;
  animation-iteration-count: 1 !important;
}

@keyframes wiggle {
20% { transform: translateY(6px) !important; }
40% { transform: translateY(-6px) !important; }
60% { transform: translateY(4px) !important; }
80% { transform: translateY(-2px) !important; }
100% { transform: translateY(0) !important; }                        
}

.LscrollTopBtn {
  position: relative !important;
  background: black !important;
  color: white !important;
  font-family: Teko !important;
  font-size: 9px !important;
  line-height: 20px !important;
  border-radius: 4px !important;
  width: 100px !important;
  padding-top: -20px !important;
}
