:root {
  --mainFrame: #f4f4f4;
  --mainGrey: #C5C6B6;
  --mainPurple: #512c62;
  --mainGreen: #058B08;
  --mainKoamaru: #2f375b;
  --mainCerulean: #98c4d1;
  --mainLight: #fffdf9;
  --mainPink: #de4b43;
  --mainDark: #3C3530;
  --mainRef: #ffdbc5;
  --mainRefH: #ffbd69;
  --mainRefTs: #d3f4ff;
  --mainTextSec: #ffffff;
  --shoesFb: #8b9dc3;
  --shoesInsta: #feda77;
  --shoesGit: #f0efe7;
  --shoesWhatsapp: #dcf8c6;
}

body {
  background: var(--mainLight);
  color: var(--mainDark);
  font-family: Advent Pro, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Advent Pro", sans-serif !important;
  font-weight: 900;
  letter-spacing: 0.25rem !important;
}

.navbar-brand {
  display: flex;
  position: relative;
}

/* .navbarCollapse .navbar-nav{
  margin-left: 2px !important;
} 
????????? cf folio
*/

.nav-link{
  font-size: 15px;
  color: var(--mainDark) !important;
  font-weight: 500;
  letter-spacing: 0.15rem !important;
}

.nav-link:hover {
  color: var(--mainPink) !important;
}

.text-yellow{
  color: var(--mainGreen) !important;
}

.loginbtn {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15rem !important;
}

.loginbtn:hover {
  color: var(--mainGreen) !important;
}

.cart {
  cursor: pointer;
  display: flex;
  color: var(--mainGreen) !important;
  font-size: 1.7rem;
}

.search {
  color: var(--mainPink) !important;
}

.about {
  font-size: 1.5rem;
  /* font-family: "Courier New", Courier, monospace !important; */
}

.default-background,
.about-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(251, 91, 90, 0.5), rgb(251, 91, 90));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainPink);
  border-color: var(--mainKoamaru);
  border: solid 2px;
  border-radius: 4px;
}

.btn-yellow:hover {
  background: var(--mainDark);
  color: var(--mainGreen) !important;
}
.menu,
.cleanings,
.contact {
  background: var(--mainTextSec) !important;
}
.footer {
  background: var(--mainDark) !important;
  font-weight: 700 !important;
}

.copyrights {
  color: var(--mainCerulean);
}

.footer-brand {
  color: var(--mainRefTs);
}

.footer-brand:hover {
  cursor: pointer;
  color: var(--mainPink);
}
.footer-link {
  color: var(--mainRefTs) !important;
}
.footer-link:hover {
  color: var(--mainRefH) !important;
}
.footer-link-ts {
  color: var(--mainFrame)!important;
}

.footer a {
  color: var(--mainLight);
}

.footer-soc-meds {
  color: var(--mainFrame);
  font-size: 2.8vh;
  font-weight: 500;
}

.footer-Insta-med:hover {
  color: var(--shoesInsta);
  font-size: 3.5vh;
  font-weight: 700;
}

.footer-Fb-med:hover {
  color: var(--shoesFb);
  font-size: 3.5vh;
  font-weight: 700;
}

.footer-Git-med:hover {
  color: var(--shoesGit);
  font-size: 3.5vh;  
  font-weight: 700;
}

.footer-Wa-med:hover {
  color: var(--shoesWhatsapp);
  font-size: 3.5vh;
  font-weight: 700;
}
