:root {
  --mainPurple: #512c62;
  --mainOrange: rgb(251, 91, 90);
  --mainGreen: #45969b;
  --mainLight: #ececeb;
  --mainRed: #c70d3a;
}

body {
  background: var(--mainLight);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainOrange);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainOrange);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(251, 91, 90, 0.5), rgb(251, 91, 90));
  background-position: center;
  background-size: cover;
}
.btn-yellow {
  color: var(--mainOrange);
  border-color: var(--mainOrange);
}
.btn-yellow:hover {
  background: var(--mainOrange);
  color: var(--mainPurple) !important;
}
.footer {
  background: var(--mainPurple) !important;
}
